venv/

# Contingut de l'assignatura (no pujar al repo)
subject_content/

# Models serialitzats (fitxers grans)
**/*.pkl

# __pycache__
__pycache__/
*.pyc

# Latex compilation extensions
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.out
*.toc
*.lof
*.lot
*.blg
*.bbl
*.bcf
*.brf
*.run.xml
*.idx
*.ind
*.ilg
*.nlo
*.nls
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.ist
*.maf
*.mtc
*.mtc0
*.nav
*.snm
*.vrb